<template>
    <div>
        <div class="row">
            <div class="col-4">
                <v-select
                        :items="Empresa"
                        label="Seleccione Fabricante"
                        required
                        item-text="idPersona"
                        item-value="idPersona"
                        return-object
                        v-model="nombre"
                        single-line
                        id="empresa"
                ></v-select>
            </div>
            <div class="col-2">
                <button class="btn siif btn-w float-right " @click="CicloFabricante(nombre.idPersona)" >Seleccionar</button>
            </div>
            <div class="col-md-4 md-form">
                <v-progress-circular :indeterminate="loading" color="primary" v-if="loading"></v-progress-circular>
            </div>
        </div>

        <div v-if="nombre">
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4 v-if="tipo!='Cadenas'">
                                    <v-text-field label="Codigo" v-model="editedItem.id"  :disabled="!edit"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4 v-if="tipo!='ListaNegra'">
                                    <v-text-field label="Descripcion" v-model="editedItem.descripcion"></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4 v-if="editedItem.alias!=undefined && tipo=='LineaProducto'">
                                    <v-text-field label="Alias" v-model="editedItem.alias"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4 v-if="tipo=='Parametros'">
                                    <v-text-field label="Porcentaje de Desviacion" v-model="editedItem.desviacion"  min="0" max="100" type="number"></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md7 v-if="tipo=='ListaNegra'">
                                     <v-select
                                        :items="personas"
                                        label="nombre de las personas"
                                        item-text="nombre_persona"
                                        item-value="idPersona"
                                        v-model="editedItem.persona"
                                        return-object
                                        autocomplete
                                        dense
                                         :disabled="!edit"
                                        
                                     ></v-select>
                                </v-flex>
                                 <v-flex xs12 sm6 md12 tile='true' v-if="tipo=='ListaNegra'">
                                    <textarea label="Causa" row="4" cols="50"  v-model="editedItem.descripcion"></textarea>
                                 </v-flex>
                                <v-flex xs12 sm6 md4 v-if="tipo=='Parametros'">
                                    <v-text-field label="Valor de meta" v-model="editedItem.meta"  type="number"></v-text-field>
                                </v-flex>

                        <v-layout wrap v-if="tipo =='Parametros' || tipo=='Zonas'">
                            <v-flex xs12 sm6 md3>
                                <v-select
                                :items="pais"
                                label="Pais"
                                item-text="nombrePais"
                                item-value="idpais"
                                v-model="editedItem.pais"
                                return-object
                                autocomplete
                                dense
                                @focusout="buscaestado()"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3 >
                                <v-select
                                :items="estado"
                                label="Estado"
                                item-text="nombreCiudad"
                                item-value="idestado"
                                return-object
                                autocomplete
                                dense
                                :disabled="!estado"
                                v-model="editedItem.estado"
                                @focusout="buscaciudad()"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-select
                                :items="ciudad"
                                label="Ciudad"
                                item-text="nombreCiudad"
                                item-value="idCiudad"
                                return-object
                                autocomplete
                                dense
                                :disabled="!ciudad"
                                v-model="editedItem.ciudad"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                               <!-- <v-flex xs12 sm6 md4 v-if="editedItem.pais!=undefined">
                                    <v-text-field label="Pais" v-model="editedItem.pais"></v-text-field>
                                </v-flex> -->
                                <v-flex xs12 sm6 md4 v-if="editedItem.fecha!=undefined && tipo=='DiasFeriados'">
                                   
                                    <v-menu
                                        ref="menuD"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuD"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.fecha"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha"
                                            v-model="editedItem.fecha"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="editedItem.fecha" no-title scrollable locale="es-ES" @change="$refs.menuD.save(editedItem.fecha)">
                                    </v-date-picker>
                                </v-menu>
                                   

                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                        <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <div v-if="tipo=='ListaNegra'">
               <v-data-table
                    :headers="listanegra"
                    :items="estadistico"
                    hide-actions
                    class="elevation-1"

                 >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.id }}</td>
                    <td>{{props.item.categoria}}</td>
                    <td>{{props.item.persona}}</td>
                    <td >{{ props.item.descripcion }}</td>
                    <td v-if="props.item.pais">{{ props.item.pais }}</td>
                    <td v-if="props.item.fecha">{{ props.item.fecha }}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
            </div>
            <div  v-if="tipo!='ListaNegra'">
                <v-data-table
                        :headers="header"
                        :items="estadistico"
                        hide-actions
                        class="elevation-1"
                        rows-per-page-text="Registros por pagina"
                >
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.id }}</td>
                        <td >{{ props.item.descripcion }}</td>
                        <td v-if="props.item.pais">{{ props.item.pais }}</td>
                        <td v-if="props.item.fecha">{{ props.item.fecha }}</td>
                        <td class=" layout px-0">
                            <v-btn icon class="mx-0" @click="editItem(props.item)">
                                <v-icon color="accent">edit</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['Empresa','tipo','estado','ciudad','fabrica'],
        data: () => ({
            loading: false,
            dialog: false,
            nombre:{idPersona:''},
            estadistico:[],
            personas:[],
            header:[],
            headers: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'Descripcion', value: 'descripcion' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            Horarios: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                {text: 'Descripcion', value: 'descripcion'},
                {text: 'Pais', value: 'pais', sortable: false},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            Parametros:[
                {
                     text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                 {text: 'Descripcion', value: 'descripcion'},
                {text: 'valor meta', value: 'valor_meta', sortable: false},
                {text: 'Desviacion', value: 'Porcentaje_Desviacion', sortable: false},
                {text: 'Actions', value: 'name', sortable: false}

            ],
            Feriado: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                {text: 'Descripcion', value: 'descripcion'},
                {text: 'Pais', value: 'pais', sortable: false},
                {text: 'Fecha', value: 'fecha', sortable: false},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            Categorias: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                {text: 'Descripcion', value: 'descripcion'},
                {text: 'Fecha', value: 'fecha', sortable: false},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            listanegra:[
                 {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                {text:'Categoria', value:'categoria'},
                {text:'nombre', value:'Nombre'},
                {text:'descripcion',value:'descripcion'},
                {text:"Actions",value:'Actions'}
            ],
            items: [],
            pais:[],
            action:'add',
            search: '',
            edit:true,
            editedIndex: -1,
            menuD:'',
            editedItem: {
                id: '',
                descripcion: '',
                alias:'',
                pais:'',
                ciudad:'',
                estado:'',
                zona:'',
                fecha:'',
                persona:'',
                meta:'',
                desviacion:'',
                nombre:'',
                categoria:''
            },
            defaultItem: {
                id: '',
                descripcion: '',
                alias:'',
                pais:'',
                zona:'',
                fecha:'',
                persona:'',
                causa:'',
                categoria:''
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        beforeMount: function () {
            this.nombre.idPersona=this.fabrica;
            axios.post('/services/Admin/pais',{})
                .then((res)=>{
                    this.pais=res.data;
                    this.load= false;
                },(error)=>{
                    this.load = false;
                })
        },

        methods: {

            editItem (item) {
              
                this.editedIndex = this.estadistico.indexOf(item),
                this.editedItem = Object.assign({}, item);
             //   console.log(this.personas)
              //  console.log('IdPersona:'+this.editedItem.persona);
                for(let i=0; i<this.personas.length; i++)
                   if(this.personas[i].nombre_persona==this.editedItem.persona){
                        this.editedItem.persona=this.personas[i];
                   }
                 
                this.dialog = true,
                this.edit=false,
                this.action='upd'
                  
              //  console.log(this.editedItem)
              
            },

            deleteItem (item) {
                const index = this.estadistico.indexOf(item)
           //     console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id){
                let process=this.tipo.toLowerCase()
                axios.post('/services/'+process+'/del',{"id":this.estadistico[id].id})
                    .then((res)=>{
                     if(res.status==200)
                        this.estadistico.splice(id, 1);
                    });
                    
            },
            close () {
                this.dialog = false
                this.action='add'
                this.edit=true
                this.loading=false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            addItem(item){
                  
                if (this.editedIndex > -1) {
                    Object.assign(this.estadistico[this.editedIndex], item)

                } else {
                    this.estadistico.push(item)
                }
                
            },
            save () {
               //   console.log('determinando...');
                   this.loading = true;
                //  var self=this
                let process=this.tipo.toLowerCase();
             //   alert(!(typeof this.editedItem.pais=='string'));
                axios.post('/services/'+process+'/'+this.action,{
                    "id":this.editedItem.id,
                    "descripcion":this.editedItem.descripcion,
                    "idpais":(!(typeof this.editedItem.pais=='string' || this.editedItem.pais==undefined))?this.editedItem.pais.idpais:'',
                    "idciudad":(!(typeof this.editedItem.ciudad=='string' || this.editedItem.ciudad==undefined))?this.editedItem.ciudad.idCiudad:'',
                    "idestado":(!(typeof this.editedItem.estado=='string' || this.editedItem.estado==undefined))?this.editedItem.estado.idestado:'',
                    "alias":this.editedItem.alias,
                    "fabricante":this.nombre.idPersona,
                    "valor_meta":this.editedItem.meta,
                    "Porcentaje_Desviacion":this.editedItem.desviacion,
                    "fecha":this.editedItem.fecha,
                    "CI":(!(this.editedItem.persona.idPersona==''))?this.editedItem.persona.idPersona:this.editedItem.persona,
                    "causa":this.editedItem.causa
                    })
                    .then((res)=>{
                         if(res.status==200)
                         {
                             
                                 if(this.action=='upd'){
                                     this.edit=true;
                                     this.action='add'
                                 }
                                else{
                                     if(!(res.data.id==undefined))
                                      this.editedItem.id=res.data.id

                                }
                              if(this.tipo!='LineaProducto')
                                  this.editedItem.pais=res.data['pais'] 

                                if(!(res.data.fecha===undefined))
                                   this.editedItem.fecha=res.data.fecha
                                    
                                    if(this.tipo=='ListaNegra')
                                      {
                                        this.editedItem.categoria=res.data.categoria;
                                        this.editedItem.persona=res.data.persona;
                                        console.log("fsdfs:"+this.editedItem)
                                      }


                                this.addItem(this.editedItem);
                              this.close();
                               this.loading=false;
                         }
                    }).catch((e)=>{ 
                          return;
                          this.loading = false;
                    });
                       
                       
                 
                    
            },
            CicloFabricante (id)
            {
                this.loading = true;
                let process=this.tipo.toLowerCase();
                axios.post('/services/Admin/'+process,{'fabricante':id})
                    .then((res)=>{
                        if(!res.data.error){
                            if(process == 'horarios' || process == 'diasvisita'){
                                this.header=this.Horarios;
                            }else {
                                if(process == 'diasferiados'){
                                    this.header=this.Feriado;
                                }else{
                                    if(process == 'categorias')
                                        this.header=this.Categorias;
                                    else
                                        this.header=this.headers;
                                }
                            }

                            this.estadistico = res.data;
                        }else{
                            this.estadistico = [];
                        }
                        this.loading = false;

                    },(error)=>{
                        this.loading = false;
                    })

                if(this.tipo=='ListaNegra'){
                        axios.post('/services/Admin/grupos/persona',{'empresa':id})
                            .then((res)=>{

                                this.personas = res.data;
                               // console.log("listado:");
                              //    console.log(this.personas[0].nombre_persona)
                                jQuery('#categorias').show();
                                this.loading = false;
                            },(error)=>{
                                this.loading = false;
                            })

                      }
            },
             buscaestado(){
                axios.post('/services/pais',{'pais':this.editedItem.pais.idpais})
                    .then((res)=>{
                        this.estado=res.data;
                    },(error)=>{

                    })
            },
            buscaciudad(){
                axios.post('/services/estado',{'estado':this.editedItem.estado})
                    .then((res)=>{
                        this.ciudad=res.data;
                    },(error)=>{

                    })
            },
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>
