<template>
    <div>
        <div v-if="load">
            <v-progress-linear :indeterminate="load" ></v-progress-linear>
            <p class="text-center">Procesando</p>
        </div>
        <v-list v-if="!load">
            <v-spacer></v-spacer>
            <div class="row">
                <div class="col-md-6">
                    <v-text-field
                            append-icon="search"
                            label="Buscar"
                            single-line
                            hide-details
                            value=""
                            v-model="search"
                    ></v-text-field>
                </div>
            </div>
            <br>

            <v-spacer></v-spacer>
            <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    no-results-text="No se encuentra esta persona"
                    no-data-text="Sin Personas"
                    :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
            >
                <template slot="items" slot-scope="props">
                    <td >{{ props.item.nombre_completo_razon_social }}</td>
                    <td >{{ props.item.documento_identidad}}</td>
                    <td >{{ props.item.email_persona ?props.item.email_persona :'S/E'}}</td>
                    <td >{{ props.item.idranking ?props.item.idranking :'S/R' }}</td>
                    <td >{{ props.item.idsubespecialidad}}
                    <td >{{ props.item.idestatus }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0">
                            <v-icon color="teal">edit</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </v-list>
    </div>
</template>
<script>
    export default {
        props : ['token',
                'categ',
                'personas',
            'fabricante'],
        data : function () {
            return {
                headers: [
                    { text: 'Nombre', value: 'nombre' },
                    { text: 'Documento de identidad', value: 'cedula' },
                    { text: 'Email', value: 'email_persona' },
                    { text: 'Ranking', value: 'ranking' },
                    { text: 'Especialidad', value: '' },
                    { text: 'Estatus', value: '' },
                    { text: 'Actions', value: 'name', sortable: false }
                ],
                search: '',
                load: true
            }
        },
        beforeMount: function () {
            axios.post('/services/Admin/personas',{'tipo':this.categ,'fabricante': this.fabricante})
                .then((res)=>{
                    this.items=res.data;
                    this.load= false;
                },(error)=>{
                    this.load = false;
                })
        },
        methods : {
        }
    }
</script>
