<template>
    <div>
        <div class="col-6">
            <v-select
                    :items="Empresa"
                    label="Seleccione Fabricante"
                    required
                    item-text="idPersona"
                    item-value="idPersona"
                    return-object
                    v-model="nombre"
                    single-line
                    id="empresa"
                    @input="CicloFabricante(nombre.idPersona)"
            ></v-select>
        </div>
        <div>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Codigo" v-model="editedItem.id"  :disabled="!edit"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Causa" v-model="editedItem.causa"></v-text-field>
                                </v-flex>
                            <v-card-title>
                            
                        </v-card-title>
                       <!-- <v-layout wrap>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                :items="pais"
                                label="Pais"
                                item-text="nombrePais"
                                item-value="idpais"
                                v-model="editedItem.pais"
                                return-object
                                autocomplete
                                dense  
                                ></v-select>
                            </v-flex>
                        </v-layout> -->
                               <!-- <v-flex xs12 sm6 md4 v-if="editedItem.pais!=undefined">
                                    <v-text-field label="Pais" v-model="editedItem.pais"></v-text-field>
                                </v-flex> -->
                                
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                        <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-data-table
                    :headers="header"
                    :items="lista"
                    hide-actions
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.id }}</td>
                    <td >{{ props.item.CI }}</td>
                    <td>{{ props.item.nombre }}</td>
                    <td>{{ props.item.causa }}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>
    export default {
        props:['Empresa','tipo','pais','estado','ciudad'],
        data: () => ({
            dialog: false,
            nombre:'',
            estadistico:[],
            header:[],
            headers: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'CI', value: 'descripcion' },
                { text: 'Nombre completo', value: 'nombre completo' },
               /* { text: 'pais', value: 'pais' },
                { text: 'idioma', value: 'idioma' },
                { text: 'moneda', value: 'moneda' },
                { text: 'pais', value: 'pais' },*/
                { text: 'Causa', value: 'causa' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            items: [],
            action:'add',
            search: '',
            edit:true,
            editedIndex: -1,
            editedItem: {
               id:'',
               CI:'',
               pais:'',
               idioma:'',
               moneda:'',
               causa:''
            },
            defaultItem: {
               id:'',
               CI:'',
               pais:'',
               idioma:'',
               moneda:'',
               causa:''
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },
         beforeMount: function () {
            axios.post('/services/Admin/listanegra',{'tipo':this.categ,'fabricante': this.fabricante})
                .then((res)=>{
                    this.items=res.data;
                    this.load= false;
                },(error)=>{
                    this.load = false;
                })
        },
        methods: {

            editItem (item) {
              
                this.editedIndex = this.estadistico.indexOf(item),
                this.editedItem = Object.assign({}, item),
                this.dialog = true,
                this.edit=false,
                this.action='upd'
              
              
            },

            deleteItem (item) {
                const index = this.estadistico.indexOf(item)
           //     console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id){
                let process=this.tipo.toLowerCase()
                axios.post('/services/'+process+'/del',{"id":this.estadistico[id].id})
                    .then((res)=>{
                     if(res.status==200)
                        this.estadistico.splice(id, 1);
                    });
                    
            },
            close () {
                this.dialog = false
                this.action='add'
                this.edit=true
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            addItem(item){
                  
                if (this.editedIndex > -1) {
                    Object.assign(this.estadistico[this.editedIndex], item)

                } else {
                    this.estadistico.push(item)
                }
                
            },
            save () {
               //   console.log('determinando...');
                   this.loading = true;
                //  var self=this
                let process=this.tipo.toLowerCase();
             //   alert(!(typeof this.editedItem.pais=='string'));
                axios.post('/services/'+process+'/'+this.action,{
                    "id":this.editedItem.id,
                     "causa":this.editedItem.causa
                     })
                    .then((res)=>{
                         if(res.status==200)
                         {
                             
                                 if(this.action=='upd'){
                                     this.edit=true;
                                     this.action='add'
                                 }
                                else{
                                   if(!this.editedItem.id)
                                      this.editedItem.id=res.data['success']

                                }
                              if(this.tipo!='LineaProducto')
                                  this.editedItem.pais=res.data['pais'] 

                                this.addItem(this.editedItem);
                              this.close();
                         }
                    }).catch((e)=>{ 
                          return;
                          this.loading = false;
                    });
                       
                       
                 
                    
            },
            CicloFabricante (id)
            {
                this.loading = true;
                let process=this.tipo.toLowerCase();
                axios.post('/services/Admin/'+process,{'fabricante':id})
                    .then((res)=>{
                        if(process == 'horarios' || process == 'diasvisita'){
                            this.header=this.Horarios;
                        }else {
                            if(process == 'diasferiados'){
                                this.header=this.Feriado;
                            }else{
                                this.header=this.headers;
                            }
                        }
                        console.log(res.data);
                        this.estadistico = res.data;
                        this.loading = false;

                    },(error)=>{
                        this.loading = false;
                    })
            },
             buscaestado(){
                axios.post('/services/pais',{'pais':this.editedItem.pais.idpais})
                    .then((res)=>{
                        this.estado=res.data;
                    },(error)=>{

                    })
            },
            buscaciudad(){
                axios.post('/services/estado',{'estado':this.editedItem.estado})
                    .then((res)=>{
                        this.ciudad=res.data;
                    },(error)=>{

                    })
            },
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>
