
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vuetify/dist/vuetify.min.css";
@import '~vue2-dropzone/dist/vue2Dropzone.css';



.date-picker-header .btn , .date-picker-table .btn , .picker__actions .btn {
    color: rgba(0,0,0,.87) !important;
    display: inline-flex !important;
    padding: 0 !important;
}
.application.theme--light {
    background: inherit !important;
}
.btn--round, .btn--round::after {
    border-radius: 28px !important;
}
.btn--icon{
    padding: 0 !important;
}



.btn--floating, .btn--icon .btn__content::before {
    border-radius: 50% !important;
}
.btn--floating {
  padding: 0 !important;
}

.theme--light .divider {
    background-color: rgba(0, 0, 0, 0.35);
}


@each $color, $value in $theme-colors {


  .btn-#{$color }{
    background-color: $value !important;
  }

  .dashboard-stat-#{$color}{
      background-color: $value !important;
    }
  .dashboard-stat-border-#{$color}{
    border: solid 1.5px $value !important;
    .dashboard-stat__more{
      background-color: $value !important;
      opacity: 1;
    }
    .dashboard-stat__visual > * {
      opacity: 1;
    }
    .dashboard-stat__visual > * {
      color: $value !important
    }
    .dashboard-stat__details__number{
      color: black;
    }
  }
}

@each $color, $value in $colors {
  
  .btn-#{$color }{
    background-color: $value !important;
  }
  .application .theme--light.btn:not(.btn-#{$color}){
    background-color: #f5f5f5;
  }

  .dashboard-stat-#{$color}{
      background-color: $value !important;
    }
  .dashboard-stat-border-#{$color}{
    border: solid 2px $value !important;
    .dashboard-stat__more{
      background-color: $value !important;
      opacity: 1;
    }
    .dashboard-stat__visual > * {
      opacity: 1;
    }
    .dashboard-stat__visual > * {
      color: $value !important
    }
    .dashboard-stat__details__number{
      color: black;
    }
  }
}



.dashboard-stat {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  
  &__visual{
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 2.5rem;

    i{
    margin-left: -35px;
    font-size: 75px;
    line-height: 110px;
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10);
    }
  }

  &__details {
      padding-right: 5%;
      position: absolute;
      right: 1rem;
      &__number {
          padding-top: 0.5rem;
          text-align: right;
          letter-spacing: -1px;
          margin-bottom: 0px;
          font-weight: 300;
          color: #FFFFFF;
          p{
            margin-bottom: 0.5rem;
          }
      }
      &__desc {
          text-align: right;
          font-size: 16px;
          letter-spacing: 0px;
          font-weight: 300;
          color: #FFFFFF;
          opacity: 1;
          filter: alpha(opacity=100);
      }
  }
  &__more {
      background-color: rgba(45, 51, 45, 0.7);
      clear: both;
      display: block;
      padding: 6px 10px 6px 10px;
      position: relative;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 15px;
      opacity: 0.7;
      filter: alpha(opacity=70);
      color: #FFFFFF;
      i{
        display: inline-block;
        margin-top: 1px;
        float: right;
      }
  }
  &__more:hover {
      background-color: rgba(17, 20, 17, 0.7);
      text-decoration: none;
      opacity: 0.9;
      color: #FFFFFF;
      filter: alpha(opacity=90);
  }
}



.portlet .dashboard-stat:last-child {
  margin-bottom: 0;
}

